KOOK_BOT_TOKEN=
KOOK_ALLOWED_USER_ID=
KOOK_ALLOWED_CHANNEL_ID=

# Optional
KOOK_API_BASE=https://www.kookapp.cn/api/v3
CODEX_APPROVAL_POLICY=on-request
CODEX_MAX_CONCURRENT_TASKS=1
KOOK_MESSAGE_MAX_LENGTH=1800
CODEX_TASK_TIMEOUT_MS=600000
